body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
    font-size: 80px;
}

ul li {
    font-size: 30px;
    list-style: none;
}

li a {
    text-decoration: none;
}

.grid-box {
    height: 300px;
    width: 300px;
    border: 10px solid black;
    background-color: aqua;

}

#game-board {
   height: 1280px;
   width:1280px; 
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 0 auto;
}
