
body {
    background-color: lightcyan;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    text-align: center;
}

nav li {
    text-decoration: none;
    display: inline;
    text-wrap: none;
    margin: 40px;
}
nav ul a {
    text-decoration: none;
    font-size: 40px;
    flex-wrap: nowrap;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 50px;
}


main ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

main li img {
    height: 500px;
    width: 500px;
    border-radius: 180px;
    margin: 20px;
    
}

footer h4 {
    margin: 0px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 400px;
}